---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- comment %} The rc-ring-* anchor ids are required by the webring's
        ring.js; keep them intact. {% endcomment %}
    <p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">RSS</a>
      {%- if site.recurse_webring_id %} &middot;
      <a id="rc-ring-prev" title="previous site" href="https://ring.recurse.com/prev?id={{ site.recurse_webring_id }}">&larr;</a>
      <a id="rc-ring-home" data-rc-uuid="{{ site.recurse_webring_uuid }}" href="https://ring.recurse.com/">RC webring</a>
      <a id="rc-ring-next" title="next site" href="https://ring.recurse.com/next?id={{ site.recurse_webring_id }}">&rarr;</a>
      {%- endif %}</p>
  {%- endif -%}

</div>
